<main id="dashboard-teacher">
    <div id="dashboard-teacher__top">
        <h1 class="greeting">Welkom!</h1>
        <section id="teacher-info">
            <span id="teacher-productivity" class="productivity-tag label"></span>
        </section>

        <section id="stats">
            <div class="stat-card"><p class="stat-title">Aantal Attempts</p><p class="stat-value" id="total-attempts"></p></div>
            <div class="stat-card"><p class="stat-title">Top Score</p><p class="stat-value" id="top-score"></p></div>
            <div class="stat-card"><p class="stat-title">Aantal Quizzen</p><p class="stat-value"><span id="total-quizzes"></span><span id="avg-quizzes"></span></p></div>
        </section>

        <section id="search" class="quiz-search">
            <input type="text" id="search-input" placeholder="Zoek quizzes...">
            <button id="search-button" class="btn btn-search">Zoeken</button>
        </section>
    </div>
    <div id="quiz-list">
        <p></p>
    </div>
</main>
