<main>
    <!-- <h1>Leaderboard</h1> -->

    <section id="league-info">
        <div id="screenshot-target">
            <img id="league-logo" src="/public/icons/league-logo.svg" alt="">
            <h1 id="league-name"></h1>
            <h2>Jouw Ranking: <span id="user-ranking"></span></h2>
        </div>

        <div class="social-share-container"></div>
    </section>

    <div id="leaderboard-container">
        <!-- Leaderboard wordt hier dynamisch gegenereerd via JS -->
    </div>
</main>
