
    <section class="auth__container">
        <div class="auth__header">
            <h1>Inloggen</h1>
        </div>
        <form id="loginForm">
            <input type="email" id="email" placeholder="E-mail" required>
            <input type="password" id="password" placeholder="Wachtwoord" required>
            <button class="btn btn-primary" type="submit">Inloggen</button>
        </form>
        <div class="auth__footer">
            <p id="error-message"></p>
            <p>Heb je nog geen account? <a href="#" id="registerLink">Registreer hier</a></p>
            <!-- Voeg de reset wachtwoord link hier toe -->
        <p><a href="#" id="resetPasswordLink">Wachtwoord vergeten?</a></p>
        </div>
    </section>
