<main>
    <form id="quizForm">
        <div class="createquiz-container">
            <div class="createquiz-header" id="screenshot-target" >
                <div class="createquiz-header-container">
                    <h1>Quiz Bewerken</h1>
                    <input type="text" id="title" placeholder="Quiz Titel" required>
                    <select id="difficulty">
                        <option value="makkelijk">Makkelijk</option>
                        <option value="gemiddeld">Gemiddeld</option>
                        <option value="moeilijk">Moeilijk</option>
                    </select>
                    <select id="course" required>
                        <option value="">Vakken worden geladen...</option>
                    </select>
                    
                    <select id="program" multiple required size="5" required>
                        <option value="">Studierichtingen worden geladen...</option>
                    </select>
                    
                    <select id="grade" required>
                        <option value="">Graden worden geladen...</option>
                    </select>
                </div>
            </div>
            <div id="vragenContainer"></div>
            <!-- <div class="btn-container">
                <button type="button" id="addQuestionBtn" class="btn btn-secondary">+ Voeg Vraag Toe</button>
            </div>
            -->
            <div class="btn-container">
                <button type="submit" class="btn btn-success">Quiz Bijwerken</button>
                <button type="button" id="deleteQuizBtn" class="btn btn-alert">Verwijder Quiz</button>
            </div>
        </div>
    </form>
    <p id="message"></p>
</main>
