<div id="alertModal" class="modal alert-modal hidden">
    <div class="modal-content">
        <!-- <button id="alertModalClose" class="modal-close">
            <span class="material-icons">close</span>
          </button>    -->       
      <div class="modal-content__body">
        <span id="alertModalIcon" class="material-icons alert-icon">info</span>
        <p id="alertModalText">...</p>
      </div>
      <div id="alertModalShareZone"></div>
      <div id="alertModalButtons" class="button-group"></div>
    </div>
  </div>
  