<div class="spectrumContainer">
    <a href="https://scholen.stad.gent/spectrum/applicatie-en-databeheer" target="_blank" rel="noopener noreferrer" class="logo--spectrum-link--student">
      <img src="assets/visuals/spectrum/logo--spectrum.png" class="logo--spectrum" alt="Logo Spectrum">
    </a>
    <a href="https://scholen.stad.gent/spectrum/applicatie-en-databeheer"
        target="_blank"
        rel="noopener noreferrer"
        class="promoTag--spectrum promoTag--spectrum-link--student">
        <div class="shine-wrapper">
            <div class="glossy-shine"></div>
        </div>
        leer programmeren!
    </a>
</div>

<div class="footer__right">
    <p>&copy; 2025</p>
    <div class="footer__links">
        <p>
            <a href="#" id="nav-FAQ_student">FAQ</a>
        </p>
        <p> 
            <a href="#" id="nav-disclaimer">Disclaimer</a>
        </p>
        <p> 
            <a href="#" id="nav-contact">Contact</a>
        </p>
    </div>
</div>

