<header class="header--dynamic">
    <nav>

            <div class="logo"><a href="#" id="dashboard_student">BRAINSMASH</a></div>
    
        <ul class="nav-links">
            <li><a href="#" id="nav-quizzes">Mijn Quizzes</a></li>
            <li><a href="#" id="nav-leaderboard_student">Leaderboard</a></li>
            <li>
                <a href="#" id="nav-profile_student">
                    <i class="material-icons">person</i>
                </a>
            </li>
            <li id="logoutButton"><a>Uitloggen</a></li>
        </ul>
    </nav>
</header>
