<header class="header--dynamic">
    <nav>
        <div class="logo">
            <a href="#" id="nav-dashboard-teacher">BRAINSMASH</a>       
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" id="nav-myquizzes">Mijn Quizzes</a>
            </li>
            <li>
                <a href="#" id="nav-createquiz">Nieuwe Quiz</a>
            </li>
            <li>
                <a href="#" id="nav-profile-teacher">
                    <i class="material-icons">person</i>
                </a>
            </li>
            <li id="logoutButton"><a>Uitloggen</a></li>
        </ul>
    </nav>
</header>
