#faq {
    padding: var(--padding_xl);
  }
  
.faq-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: var(--padding_m);
}

#faq > h1 {
    color: var(--yellow-500);
}

.faq-item > p,
.faq-item > ol {
    font-family: var(--text-font);
    font-size: var(--font-size-text);
    color: var(--grey-200);
    margin-left: var(--margin_l);
}

.faq-item > ol {
    line-height: calc(var(--line-height-title)*2);
}

.faq-item > h3 {
    font-family: var(--title-font);
    font-size: var(--font-size-title);
    color: var(--yellow-500);
    margin: var(--margin_xxl) 0 var(--margin_l) 0;
}

@media (max-width: 48rem) {
    .faq-container {
      padding: var(--padding_s);
    }
  }
  