.quiz-card {
    position: relative;
    background: var(--purple-800);
    color: var(--grey-200);
    border-radius: var(--border-radius_medium);
    padding: var(--padding_l);
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 10px var(--dark--blue-800);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer; 
    z-index: 0;
    overflow: visible;
}

.quiz-card:hover {
    transform: translateY(0.125rem);
    box-shadow: 0 0.375rem 0.75rem var(--purple-600);
}

.quiz-card h3 {
    font-family: var(--title-font);
    font-size: var(--font-size-title);
    color: var(--yellow-500);
    margin-bottom: var(--margin_xl);
}

.quiz-card p {
    font-size: var(--font-size-text);
    margin-bottom: var(--margin_xs);
}

.difficulty {
    font-weight: light;
    padding: var(--padding_xs) var(--padding_s);
    border-radius: var(--border-radius_small);
    display: inline-block;
}

.difficulty-easy {
    color: var(--green-800);
    background-color: var(--green-400); /* Transparant groen */
}

.difficulty-medium {
    color: var(--yellow-800);
    background-color: var(--yellow-400); /* Transparant geel */
}

.difficulty-hard {
    color: var(--red-800);
    background-color: var(--red-400); /* Transparant rood */
}

