.snippet {
  background-color: var(--purple-600);
  border-radius: var(--border-radius_medium);
  /* border: 1px solid var(--purple-500); */
  font-family: var(--math-font);
  overflow-x: auto;
}

.snippet-math {
  background-color: var(--purple-800);
  border-radius: var(--border-radius_medium);
  font-size: var(--font-size-text);
  display: block;
  color: var(--grey-200);
  padding: var(--padding_xs);
  margin-top: var(--margin_m);
}

.snippet-code {
  font-family: var(--math-font);
  background-color: var(--purple-800);
  color: var(--grey-200);
}

.mathjax-container {
  font-family: var(--math-font);
  word-break: break-word;
  font-size: var(--font-size-text);
}

.mathjax-container mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 0.2em 0.4em;
}